In [1]:
import json
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
# from category_encoders import TargetEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import time
import json
import random
import warnings
warnings.filterwarnings('ignore')
from dataclasses import asdict
from datetime import datetime, date
import io
import numpy as np
import pandas as pd

df = pd.read_csv('/kaggle/input/shiftlogs/bureau.csv')

In [29]:
df

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

Для датафрейма bureau.csv посчитать следующие признаки:
	Максимальная сумма просрочки
	Минимальная сумма просрочки
	Какую долю суммы от открытого займа просрочил
	Кол-во кредитов определенного типа
	Кол-во просрочек кредитов определенного типа
	Кол-во закрытых кредитов определенного типа

In [32]:
bureau = pd.DataFrame()

bureau['SK_ID_CURR'] = df['SK_ID_CURR'].drop_duplicates()

bureau['Максимальная сумма просрочки'] = df.groupby('SK_ID_CURR').agg({'AMT_CREDIT_MAX_OVERDUE': ['max']})

bureau['Минимальная сумма просрочки'] = df.groupby('SK_ID_CURR').agg({'AMT_CREDIT_MAX_OVERDUE': ['min']})

bureau['Какую долю суммы от открытого займа просрочил'] = df.groupby('SK_ID_CURR')["AMT_CREDIT_MAX_OVERDUE"].sum() / df.groupby('SK_ID_CURR')["AMT_CREDIT_SUM"].sum()

bureau['Кол-во кредитов определенного типа'] = df.groupby('SK_ID_CURR')["CREDIT_TYPE"].count()

# bureau['Кол-во просрочек кредитов определенного типа'] = df.groupby(['SK_ID_CURR', "CREDIT_TYPE"])["CREDIT_DAY_OVERDUE"].count()

# bureau['Кол-во закрытых кредитов определенного типа'] = df.groupby(['SK_ID_CURR', "CREDIT_TYPE"])["DAYS_ENDDATE_FACT"].count()

In [34]:
bureau.value_counts()

SK_ID_CURR  Максимальная сумма просрочки  Минимальная сумма просрочки  Какую долю суммы от открытого займа просрочил  Кол-во кредитов определенного типа
100001      0.00                          0.0                          0.000000                                       1.0                                   1
337180      506.25                        0.0                          0.000096                                       6.0                                   1
337004      0.00                          0.0                          0.000000                                       10.0                                  1
337007      16560.00                      0.0                          0.002780                                       16.0                                  1
337013      0.00                          0.0                          0.000000                                       7.0                                   1
                                                                                                                                                           ..
219391      21966.21                      0.0                          0.033959                                       8.0                                   1
219403      0.00                          0.0                          0.000000                                       8.0                                   1
219414      4950.00                       0.0                          0.000771                                       10.0                                  1
219417      0.00                          0.0                          0.000000                                       3.0                                   1
456253      0.00                          0.0                          0.000000                                       5.0                                   1
Length: 49925, dtype: int64

In [ ]:
bureau.to_csv('bureau.csv', index = False)