In [1]:
import json
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
# from category_encoders import TargetEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import time
import json
import random
import warnings
warnings.filterwarnings('ignore')
from dataclasses import asdict
from datetime import datetime, date
import io
import numpy as np
import pandas as pd

df = pd.read_csv('/kaggle/input/shiftlogs/credit_card_balance.csv')

In [5]:
df

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

Для датафрейма credit_card_balance.csv посчитать следующие признаки:
	Посчитайте все возможные аггрегаты по картам.
	Посчитайте как меняются аггрегаты. например отношение аггрегата за все время к аггрегату за последние 3 месяца или к данных за последний месяц.
    
Денежные агрегаты – показатели структуры денежной массы (денежного предложения), виды денег и денежных средств, отличающиеся друг от друга степенью ликвидности, то есть возможностью быстрого превращения в наличные деньги. В разных странах используются разные определения денежных агрегатов.

В России Центральный банк рассчитывает три агрегата: M0, M1 и M2.

M0 включает только наличные деньги в национальной валюте в обращении вне банковской системы.

В M1 входит агрегат M0 и остатки средств в национальной валюте на расчетных, текущих и иных счетах до востребования населения, нефинансовых и финансовых (кроме кредитных) организаций, являющихся резидентами Российской Федерации.

В показатель M2 включается агрегат M1, а также остатки средств в национальной валюте на счетах срочных депозитов и иных привлеченных на срок средств населения, нефинансовых и финансовых (кроме кредитных) организаций, являющихся резидентами Российской Федерации.
Подробнее на сайте Banki.ru https://www.banki.ru/wikibank/denejnyie_agregatyi/

In [14]:
credit_card_balance = pd.DataFrame()

credit_card_balance['SK_ID_PREV'] = df['SK_ID_PREV'].drop_duplicates()

credit_card_balance['M0'] = df.groupby('SK_ID_PREV')["AMT_TOTAL_RECEIVABLE"].sum()

credit_card_balance['M1'] = df.groupby('SK_ID_PREV')["AMT_BALANCE"].sum()

credit_card_balance['M2'] = df.groupby('SK_ID_PREV')["AMT_CREDIT_LIMIT_ACTUAL"].sum()

In [15]:
credit_card_balance.value_counts()

SK_ID_PREV  M0            M1            M2
1000696     3.384403e+05  3.399585e+05  2542500.0     1
2180591     0.000000e+00  0.000000e+00  7110000.0     1
2204304     9.479055e+05  9.660073e+05  1575000.0     1
2200243     1.201190e+07  1.201545e+07  13770000.0    1
2196398     6.117129e+06  6.168214e+06  12600000.0    1
                                                     ..
1590548     4.529997e+04  4.911147e+04  405000.0      1
1604221     9.647661e+06  9.680892e+06  11812500.0    1
1604648     8.067594e+06  8.121613e+06  12150000.0    1
1605020     1.740565e+06  1.821295e+06  4950000.0     1
2841857     9.792379e+06  9.814063e+06  17208000.0    1
Length: 279, dtype: int64

In [ ]:
credit_card_balance.to_csv('credit_card_balance.csv', index = False)